.text-red
  color:#FF425D;
.text-gray
  color:#DADADE;
.text-black
  color: #171B43;
.text-white
  color:#ffffff;
.bg-white
  background-color: #ffffff; 
.bg-red
  background-color: #FF425D; 
.bg-black
  background-color: #000000;
.bg-black-32
  background-color: #323232;